VITE_SERVER_URL="http://localhost:8000"
VITE_CLIENT_URL="http://localhost:5173"

VITE_GOOGLE_CLIENT_ID="your-google-client-id"
VITE_GOOGLE_CLIENT_SECRET="your-google-client-secret"

# production example
# VITE_SERVER_URL="https://your-api-domain.com"
# VITE_CLIENT_URL="https://your-client-domain.com"